# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/SPSG/.vs/SPSG/FileContentIndex/4a230c7c-176c-4876-934e-579041f14502.vsidx
/SPSG/.vs/SPSG/FileContentIndex/6209a099-3e67-4d30-97a4-3d4c6f9b69d1.vsidx
/SPSG/.vs/SPSG/FileContentIndex/6753f96a-ae1e-4d17-891e-6f6dd34e56af.vsidx
/SPSG/.vs/SPSG/FileContentIndex/b88385a5-f93f-4353-b8a8-d38613ff4916.vsidx
/SPSG/.vs/SPSG/FileContentIndex/read.lock
